
@{
    ViewBag.Title = "Import Data";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Head {
    <script type="text/javascript" src="@Url.Content("~/Content/Custom/Scripts/Category/Import.js?v=20220523")"></script>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Custom/Css/Category/Import.css")" />
}


<div class="card">
    <div class="card-body">
        <div class="card-header">
            <div class="title-wrapper pt-30">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="title mb-30">
                            <h2 style="color: #219653; font-weight:600;">Nhập dữ liệu</h2>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex justify-content-end ">
                        <div class="dropdown">
                            @using (Html.BeginForm())
                            {
                                ViewContext.Writer.Write("<div id=\"contentTypeImportFilter\" style=\"display:block;\">");
                                Html.RenderPartial("ComboboxCourse");
                                ViewContext.Writer.Write("</div>");
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-content">
            <div class="file-upload">
                <button class="file-upload-btn btn btn-primary" onclick="UnzipFile()" type="button">Tải lên</button>

                <div class="image-upload-wrap">
                    <input class="file-upload-input" id="Multifiles" type='file' onchange="readURL(this);" accept=".zip" />
                    <div class="drag-text d-flex justify-content-center align-items-center" style="height:40vh">
                        <i class="lni lni-upload" style="font-size: 50px"></i>
                    </div>
                    <p class="text-center" style="margin-bottom: 10px;">(Dung lượng tối thiểu 4GB)</p>
                </div>
                <div class="file-upload-content">
                    <img class="file-upload-image" src="#" alt="your image" />
                    <div class="image-title-wrap">
                        <button type="button" onclick="removeUpload()" class="remove-image">Gỡ bỏ <span class="image-title">tập tin đã tải lên</span></button>
                    </div>
                </div>
                <div class="progress mt-4 mb-3" id="showbar" style="display:none">
                    <div class="progress-bar bg-success" id='progress-bar' role="progressbar" style="width:0%;">0%</div>
                </div>
            </div>


            <div id="FormResult" style="margin:40px;display:none">
                <div class="d-flex align-content-center" style="height:auto">
                    <div class="card w-100">
                        <div class="card-body">
                            <p id="viewNotication"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
