<div class="d-flex justify-content-center">
    <div style="padding: 10px;">
        <img id="avatarfile" src="@Url.Content("~/Content/Custom/Images/blank-image.png")" alt="Ảnh đại diện" height="250" />
    </div>
</div>

<div class="d-flex justify-content-center">
    <input id="preview-avatar" name="preview-avatar" type="file" onchange="preview()" accept="image/png, image/gif, image/jpeg" />
</div>

<script>
    function preview() {
        var arrayImage = [".png", ".jpg", ".jpeg", ".bmp", ".gif"];
        let indexImage = arrayImage.indexOf(getExtention(event.target.files[0].name.toLowerCase()));
        if (indexImage > -1) {
            avatarfile.src = URL.createObjectURL(event.target.files[0]);
        } else {
            avatarfile.src = "@Url.Content("~/Content/Custom/Images/blank-image.png")";
            toastr.error("Vui lòng chọn hình ảnh");
            $("#preview-avatar").val(null);
        }
    }
</script>