<div class="col-md-12 col-lg-12 col-xl-12 mb-30">
    <p>
        Thư viện là nơi chứa các tài liệu, bài giảng, tư liệu chung hỗ trợ cho giáo viên giảng dạy. Gồm 3 loại chính: hình ảnh, tập tin văn bản, video.
    </p>
    <div class="table-responsive" style="padding-left:10px;">
        <table class="table activity-table">
            <tbody>
                <tr>
                    <td style="vertical-align:central; text-align: center;">
                        <div class="d-flex align-items-center">
                            <div class="icon-custom success">
                                <i class="lni lni-image"></i>
                            </div>
                            <div class="content">
                                <p class="text-sm">Hình ảnh</p>
                            </div>
                        </div>
                    </td>

                </tr>
                <tr>

                    <td style="vertical-align:central; text-align: center;">
                        <div class="d-flex align-items-center">
                            <div class="icon-custom success">
                                <i class="lni lni-empty-file"></i>
                            </div>
                            <div class="content">
                                <p class="text-sm">Tập tin văn bản</p>
                            </div>
                        </div>
                    </td>

                </tr>
                <tr>
                    <td style="vertical-align:central; text-align: center;">
                        <div class="d-flex align-items-center">
                            <div class="icon-custom success">
                                <i class="lni lni-video"></i>
                            </div>
                            <div class="content">
                                <p class="text-sm">Video</p>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <p>
        Bạn có thể lọc theo môn học và chủ đề cũng như tìm kiếm các tài liệu, bài giảng, tư liệu mong muốn. Sau đó bấm chọn vào vùng thông tin sẽ tiến hành mở tài liệu, bài giảng, tư liệu đó.
    </p>
    <img src="@Url.Content("~/Content/Custom/Images/tutoriallesson.png")" style="padding-top:10px; padding-bottom:10px; display: block; margin-left: auto; margin-right: auto;" width="300" />
    <p>
        Hệ thống tự động sao chép tài liệu về thư mục <b>D:\GDVIETNAM</b> đồng thời mở tài liệu, bài giảng, tư liệu lên. Nếu không có phân vùng D sẽ lưu tại MyDocuments
    </p>
</div>