<div class="col">
    <div class="card-style h-100 d-flex">
        <div class="card-body d-flex justify-content-center">
            <button class="btn btn-primary" onclick="ViewPlayGround()"><i class="lni lni-game" style="font-size:22px"></i> Chơi</button>
        </div>
        <div class="card-body d-flex justify-content-center">
            <button class="btn btn-success" onclick="ViewFileSetup()"><i class="lni lni-cog" style="font-size:22px"></i> Cài đặt</button>
        </div>
    </div>
</div>
