<div class="col-md-12 col-lg-12 col-xl-12 mb-30">
    <p>
        GD Việt Nam cung cấp các mẫu giáo án có sẵn, hỗ trợ giáo viên có thể soạn thảo giáo án điện tử một cách nhanh chóng bằng các sau:
    </p>
    <p>
        <b>Bước 1:</b> Bấm vào nút "Tạo", trên giao diện giáo án.
    </p>
    <img src="@Url.Content("~/Content/Custom/Images/createlesson.png")" style="padding-top:10px; padding-bottom:10px; display: block; margin-left: auto; margin-right: auto;" width="300" />
    <p>
        <b>Bước 2:</b> Chọn mẫu giáo án cần soạn.
    </p>
    <img src="@Url.Content("~/Content/Custom/Images/listlesson.png")" style="padding-top:10px; padding-bottom:10px; display: block; margin-left: auto; margin-right: auto; width:50%;" />
    <p>
        Hệ thống tự động sao chép tài liệu về thư mục <b>D:\GDVIETNAM</b> đồng thời mở tài liệu, bài giảng, tư liệu lên. Nếu không có phân vùng D sẽ lưu tại MyDocuments.
    </p>
</div>