<div class="alert-box primary-alert">
    <div class="alert">
        <h4 class="alert-heading">THÔNG BÁO</h4>
        <p class="text-medium">
            Chưa chọn lớp và môn học để xem, vui lòng chọn lớp, môn học trước.
        </p>
    </div>
</div>